.container {
    height: 80px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px 25px;
    border-radius: 5px;
}


.quizName {
    font-size: 25px;
    margin-right: 50px;
}


.topDiv {
    display: flex;
}

.rightDiv {
    display: flex;
    align-items: center;
}

.impression {
    color: #FF5D01;
    margin-right: 5px;
}


.eyeImage {
    padding-bottom: 2px;
}


.date {
    font-size: 12px;
    color: #60B84B;
}