.container {
    display: flex;
    flex-direction: column;
    width: 110px;
}

.heading {
    margin-bottom: 15px;
    text-align: center;
    color: #969696;
}

.timerValue {
    margin-bottom: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #00000026;
    padding: 5px 10px;
    color: #969696;
}

.timerValue:hover {
    background-color: #D60000;
    cursor: pointer;
    color: white;
}

.active {
    color: white;
    background-color: #D60000;
}