.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}


.centered {
    width: 65rem;
    height: 80vh;
    box-shadow: 0px 0px 30px 0px #00000026;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;
}


.heading {
    font-size: 85px;
    font-family: 'Jomhuria', serif;
    color: #474444;
    padding: 10px 0;
}


.toggleButtons {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.active {
    box-shadow: 0px 0px 50px 3px rgba(0, 25, 255, 0.24);
}


.signup,
.login {
    height: 40px;
    padding: 10px 60px;
    cursor: pointer;
}

.signup:hover,
.login:hover {
    background-color: rgba(84, 101, 251, 0.24);
    color: white;
}